@{
    ViewBag.Title = "Account Confirmation Required";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for registering your account requires email confirmation. Please check your emails.
    </p>
</div>
